<div class="col-md-12">
  <div> Event Registration Detail: <b>{{event.event_name}}</b> </div>
</div>
<table class="table table-bordered" border="1">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Event Name</b></td>
      <td><b>Event Category</b></td>
      <td><b>Event Location</b></td>
    </tr>
    <tr>
      <td>{{event.event_name}}</td>
      <td>{{event.category}}</td>
      <td>{{event.location}}</td>
    </tr>
    <tr>
      <td><b>Event Start Time</b></td>
      <td><b>Event End Time</b></td>
      <td><b>Event Description</b></td>
    </tr>
    <tr>
      <td>
        <time [attr.datetime]="event.start_time">
          {{ event.start_time | date: 'short'}}
        </time>
      </td>
      <td>
        <time [attr.datetime]="event.start_time">
          {{event.end_time | date: 'short'}}
        </time>
      </td>
      <td>{{event.description}}</td>
    </tr>
    <tr>
      <td><b>Adult Ticket Prices</b></td>
      <td><b>Kid Ticket Prices</b></td>
      <td><b>Images</b></td>
    </tr>
    <tr>
      <td>{{event.adult_price | currency}}</td>
      <td>{{event.kid_price | currency }}</td>
      <td> <img src="http://127.0.0.1:8000{{event.image}}"></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <button (click)="registerEvent(event.id)">Register</button>
</div>