<style>
    .evenStyle {
      background-color: red;
      }
  .oddStyle {
      background-color: green;
  }
  .red {
      color: red;
  }
  .size {
      font-size: 20px;
  }
  </style>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
            NGO
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
            User
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
    <div> Event Registration Detail: {{event.name}} </div>
    <div> {{id}}</div>
     </div>
  </div>
    <div class="row">
     <div class="col-md-4">
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Event Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      <td>{{ev.event_name}}</td>
                      </tr>    
                    </tbody>
                  </table>
                  <table>
                        <thead>
                          <tr>
                            <th>Event Category</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <td>{{ev.category}}</td>
                          </tr>    
                        </tbody>
                      </table>
                      <table>
                            <thead>
                              <tr>
                                <th>Event Location</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                              <td>{{ev.location}}</td>
                              </tr>    
                            </tbody>
                          </table>
                          <table>
                                <thead>
                                  <tr>
                                    <th>Event Start Time</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                  <td>{{ev.start_time}}</td>
                                  </tr>    
                                </tbody>
                              </table>
                              <table>
                                    <thead>
                                      <tr>
                                        <th>Event End Time</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      <td>{{ev.end_time}}</td>
                                      </tr>    
                                    </tbody>
                                  </table>
                                
          </div>
          <div class="col-md-4">
                <table>
                        <thead>
                          <tr>
                            <th>Event Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <td>{{ev.description}}</td>
                          </tr>    
                        </tbody>
                      </table>
                      <table>
                            <thead>
                              <tr>
                                <th>Adult Ticket Prices</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                              <td>{{ev.adult_price}}</td>
                              </tr>    
                            </tbody>
                          </table>
                          <table>
                                <thead>
                                  <tr>
                                    <th>Adult Ticket Prices</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                  <td>{{ev.child_price}}</td>
                                  </tr>    
                                </tbody>
                              </table>
              </div>
              <div class="col-md-4">
                    <table>
                            <thead>
                              <tr>
                                <th>Event Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                              <td>{{ev.description}}</td>
                              </tr>    
                            </tbody>
                          </table>
                          <table>
                                <thead>
                                  <tr>
                                    <th>Images</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                  <td>{{ev.adult_price}}</td>
                                  </tr>    
                                </tbody>
                              </table>
                              <table>
                                    <thead>
                                      <tr>
                                        <th>Images</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      <td> <img src="http://127.0.0.1:8000{{ev.image}}"> </td>
                                      </tr>    
                                    </tbody>
                                  </table>
                  </div>
                        
      </div>
      <div class="row">
          Register
      </div>
  </div>
  