<style>
    .evenStyle {
        background-color: red;
    }

    .oddStyle {
        background-color: green;
    }

    .red {
        color: red;
    }

    .size {
        font-size: 20px;
    }
</style>
<div class="container-fluid">
        <div class="col-md-10">
            <form [formGroup]="uploadForm" (ngSubmit)="addNewUser(uploadForm.value)">
                <input name="username" formControlName="username" placeholder='User'>
                <input type="password" name="password1" formControlName="password1" placeholder='Password'>
                <input type="password" name="password2" formControlName="password2" placeholder='Repeat Password'>
                <input name="email" formControlName="email" placeholder='Email'>
                <button type="submit">Save</button>
            </form>
        </div>
</div>