
<h1>Add New Event</h1>
<div class="col-md-10" *ngIf="uploadForm">
    <!-- <form [formGroup]="uploadForm" (ngSubmit)="onInsert1(uploadForm.value)" *ngIf="uploadForm">
        <label for="event_name">Event Name:</label>
        <input name="event_name" formControlName="event_name" class="form-control" placeholder='Event Name'><br>
        <select formControlName="category" class="form-control" placeholder='Category'>
            <option value="">-- Select an option--</option>
            <option value="other">Other</option>
            <option value="social">Social</option>
            <option value="charity">Charity</option>
            <option value="religious">Religious</option>
            <option value="spiritual">Spiritual</option>
        </select>

        <label for="location">Location:</label>
        <input name="location" formControlName="location" class="form-control" placeholder='Location'>

        <label for="start_time">Start Time:</label>
        <input name="start_time" formControlName="start_time" class="form-control" placeholder='Start Time'>

        <label for="end_time">End Time:</label>
        <input name="end_time" formControlName="end_time" class="form-control" placeholder='End Time'>

        <label for="description">Event Description:</label>
        <input name="description" formControlName="description" class="form-control" placeholder='Description'>

        <label for="adult_price">Adult Price:</label>
        <input name="adult_price" input type="number" min="0" max="1000" formControlName="adult_price" placeholder='Adult Price'>
    </form>
    <form [formGroup]="imageForm">
            <input type="file" name="file" (change)="onUpload($event)">
        </form> -->
        
        <div class="col-md-10">
            <form [formGroup]="uploadForm" (ngSubmit)="addNewEvent(uploadForm.value)" *ngIf="uploadForm">
                <input name="event_name" formControlName="event_name" class="form-control" placeholder='Event Name'>
                <select formControlName="category" placeholder='Category'>
                    <option value="">-- Select an option--</option>
                    <option value="other">Other</option>
                    <option value="social">Social</option>
                    <option value="charity">Charity</option>
                    <option value="religious">Religious</option>
                    <option value="spiritual">Spiritual</option>
                </select>
                <input name="location" formControlName="location" class="form-control" placeholder='Location'>
                <input name="start_time" formControlName="start_time" class="form-control" placeholder='Start Time'>
                <input name="end_time" formControlName="end_time" class="form-control" placeholder='End Time'>
                <input name="description" formControlName="description" class="form-control" placeholder='Description'>
                <input name="adult_price" formControlName="adult_price"class="form-control"  placeholder='Adult Price'>
                <input name="kid_price" formControlName="kid_price" class="form-control"  placeholder='Kid Price'>
                <button type="submit">Add Event</button>
            </form>
            
        </div>
    <!-- </div> -->
</div>