<div *ngIf="adminCheck; else notAdmin">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Uername</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of users let o = odd; let e = even" [ngClass]="{oddStyle: o, evenStyle: e}">
        <td>{{us.id}}</td>
        <td>{{us.username}}</td>
        <td>{{us.first_name|titlecase}}</td>
        <td>{{us.last_name|titlecase}}</td>
        <td>{{us.email}}</td>
        <td>{{us.admin }}</td>
        <td><button type="button" class="btn btn-primary" (click)="onDelete(us.id)">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onEdit(us.id)">Edit</button></td>
      </tr>
      <button type="button" (click)="addUser()">Add User</button>
    </tbody>
  </table>
</div>
<ng-template #notAdmin>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Uername</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{users.id}}</td>
        <td>{{users.username}}</td>
        <td>{{users.first_name|titlecase}}</td>
        <td>{{users.last_name|titlecase}}</td>
        <td>{{users.email}}</td>
        <td>{{users.admin }}</td>
        <td><button type="button" class="btn btn-primary" (click)="onDelete(users.id)">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onEdit(users.id)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</ng-template>
<button type="button" class="btn btn-primary" (click)="onLogout()">Log Out</button>