
                <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let us of users let o = odd; let e = even"
                          [ngClass] = "{oddStyle: o, evenStyle: e}">
                          <td>{{us.id}}</td>
                          <td>{{us.first_name|titlecase}}</td>
                          <td>{{us.last_name|titlecase}}</td>
                          <td>{{us.email}}</td>
                          <td>{{us.password }}</td>
                          <td>{{us.admin }}</td>
                          <td><button type="button" class="btn btn-primary"  (click)="onDelete(us.id)">Delete</button>
                            <button type="button" class="btn btn-primary" (click)="helpWindow($event)">Edit</button></td>
                           
                          </tr>   
                        </tbody>
                        <div>
                          <form [formGroup] = "uploadForm" (ngSubmit) = "onInsert(uploadForm.value)">
                                  <input name="username" formControlName="username" placeholder='User'>
                                  <input name="password1" formControlName="password1" placeholder='Password'>
                                  <input name="password2" formControlName="password2" placeholder='Repeat Password'>
                                  <input name="email" formControlName="email" placeholder='Email'>
                                  <button type="submit">Save</button>
                                  <div></div>
                          </form>
                      </div>
                      </table>