<style>
  .evenStyle {
    background-color: gray;
  }

  .oddStyle {
    background-color: gray;
  }
  .size {
    font-size: 20px;
  }
</style>
<div class="container-fluid">
    <div class="col-md-10">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let ev of events let o = odd; let e = even" [ngClass]="{oddStyle: o, evenStyle: e}">
            <td><button> <img src="http://127.0.0.1:8000{{ev.image}}"> </button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>