.mycontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.mycontainer .mat-drawer {
    min-width: 200px;
}

.sidenav {
    padding-top: 50px;
}
.sidenav-content {
    display: flex;
}

.mycontainer .mat-drawer .mat-button{
    display: block;
    width: 100%;
    text-align: left;
}

.spacer {
    flex: 1 1 auto;
}

.pagecontent {
    padding: 50px;
    width: 80%;
}