
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<mat-drawer-container class="mycontainer" autosize>
    <!-- MAT DRAWER NEEDS TO BE HIDDEN BASED ON ADMIN -->
    <mat-drawer #drawer class="sidenav"> 
        <button color="primary" mat-button routerLink="/user">Manage User</button>
        <button color="primary" mat-button routerLink="/eventmanage">Manage Event </button>
        <button color="primary" mat-button routerLink="/eventlist">View Events </button>
    </mat-drawer>
    <div class="sidenav-content"> 
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span> NGO Project </span>
                <span class="spacer"></span>
                <mat-icon>favorite</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="pagecontent">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>