<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
            NGO
		</div>
		<div class="col-md-9">
		</div>
		<div class="col-md-1">
            Admin
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			 <div>
			<button type="button" class="btn btn-outline-primary">
			User Management
            </button> 
            </div>
            <div>
            <button type="button" class="btn btn-outline-primary">
            Event Management
            </button> 
            </div>
            <div>
            <button type="button" class="btn btn-outline-primary">
            User View
            </button> 
            </div>
		</div>
		<div class="col-md-10">
                <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let us of users let o = odd; let e = even"
                          [ngClass] = "{oddStyle: o, evenStyle: e}">
                          <td>{{us.id}}</td>
                          <td>{{us.first_name|titlecase}}</td>
                          <td>{{us.last_name|titlecase}}</td>
                          <td>{{us.email}}</td>
                          <td>{{us.password }}</td>
                          <td>{{us.role }}</td>
                          </tr>    
                        </tbody>
                      </table>
		</div>
	</div>
</div>
 
  