<!-- 	<button type="button" class="btn btn-outline-primary" (click)="navuser()">
			User Management
            </button> 
            </div>
            <div>
            <button type="button" class="btn btn-outline-primary" (click)="navevent()">
            Event Management
            </button> 
            </div>
            <div>
            <button type="button" class="btn btn-outline-primary" (click)="navuserv()">
            User View
            </div>
            <div>
        <button type="button" class="btn btn-outline-primary" (click)="navlogout()">
          Logout
        </button>
      </div>
            </button>  -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>User ID</th>
      <th>Category</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Adult Price</th>
      <th>Child Price</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ev of events let o = odd; let e = even" [ngClass]="{oddStyle: o, evenStyle: e}">
      <td>{{ev.id}}</td>
      <td>{{ev.user}}</td>
      <td>{{ev.category}}</td>
      <td>{{ev.location}}</td>
      <td>{{ev.start_time }}</td>
      <td>{{ev.end_time }}</td>
      <td>{{ev.adult_price}}</td>
      <td>{{ev.kid_price}}</td>
      <td><img src="http://127.0.0.1:8000{{ev.image}}"></td>
      <td><button type="button" class="btn btn-primary" (click)="onEdit(ev.id)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(ev.id)">X</button></td>
    </tr>
  </tbody>
  <div>
    <button type="button" (click)="addEvent()">Add Event</button>
  </div>
</table>