<div> {{ message }} </div>
<style>
  .evenStyle {
    background-color: GRAY;
  }
  .oddStyle {
    background-color: gray;
  }
  .size {
    font-size: 20px;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <table class="table table-bordered" border="1">
      <tbody>
        <tr *ngFor="let event of events let o = odd; let e = even" [ngClass]="{oddStyle: o, evenStyle: e}">
          <td><button (click)="details(event.id)"> <img src="http://127.0.0.1:8000{{event.image}}"> </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>